
<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@user, remote: remote, html: {role: :form, 'data-model' => 'user'}) do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="field mb-3">
    <%= form.label :last_updated %>
    <%= form.date_select :last_updated %> 
  </div>


  <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="field mb-3">
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="field mb-3"> 
    <%= form.text_field :email, class:"form-control", placeholder:"Email"  %>
  </div>

   <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="field mb-3"> 
    <%= form.text_field :title, class:"form-control", placeholder:"Title"  %>
  </div>

   <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="field mb-3"> 
     <%= form.text_field :phone, class:"form-control", placeholder:"Phone"  %>
  </div>

   <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="field mb-3"> 
        <%= form.text_field :Status, class:"form-control", placeholder:"Status"  %>
  </div>

  <%# Added Bootstrap classes %>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>

<% end %>


    






 