 <tr>
        <td><%= user.last_updated %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.title %></td>
        <td><%= user.phone %></td>
        <td><%= user.Status %></td>
        
        <td><%= link_to 'Show', user %></td>
        <!-- <td><%= link_to 'Edit', edit_user_path(user) %></td> -->
        <td><% link_to 'Edit', '#edit_user_modal', 'data-bs-toggle' => 'modal'%></td>
      

        <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>


      