<p id="notice"><%= notice %></p>

<h1>Users List</h1>

<table class="table table-hover table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Last updated</th>
      <th>Name</th>
      <th>Email</th>
      <th>Title</th>
      <th>Phone</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.last_updated %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.title %></td>
        <td><%= user.phone %></td>
        <td><%= user.Status %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class:"btn btn-success" %>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#user-form-new">
  Add New User
</button> -->





<!-- Modal -->
<!-- <div class="modal fade" id="user-form-new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="myModalBody">
        hello
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->